.icono {
  font-size: 32px; /* Ajusta el valor según necesites */
}
body {
    background-color: rgb(47, 45, 45);
    }
h1 {
    font-family: "Rum Raisin", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
}
pre {
    font-family: "Roboto", Arial;
    color: white;
    display: inline-block;
    max-width: 700px;
    text-wrap-mode: wrap;
    margin: 5px;
}